<h2>Wecome to your Posts</h2>
<h3> Create a new Post here <a href='/posts/new'>Click Here </a>
</h3>

<% if @posts.size>0 %>
<%  @posts.each do |item| %>
<h3><%= item.name %> </h3> <a href="/posts/<%=item.id%>/edit">Edit </a>
<h4><%= item.content %> </h4>
<% end %>
<% end %>
