<h2>Create a New Post here </h2>
<form action="/posts" method='POST'>
<h3>Title: <input type="text" name="name"/></h3>
<input type="text" name="content" />
<input type="submit" value="submit" />
</form>
